
.logo-container {
    background: #ffffff
  }
  
  
  .logo-container svg {
    font-family: 'Russo One', Heather Thomas-light;
    width: 100%; height: 100%;
    position: absolute;
    top: -5%;
   
  }
  .logo-container svg text {
    text-transform: uppercase;
    animation: stroke 5s alternate;
    stroke-width: 2;
    stroke: #0cdfff;
    font-size: 240px;
  }
   @keyframes stroke {
    0%   {
      fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0);
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0); }
    80%  {fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0); stroke-width: 3; }
    100% {
      fill: rgb(0, 0, 0); stroke: rgba(54,95,160,0); 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
  }
  

.geeks .h1 {
    color: rgb(0, 0, 0);
}


.fade-in-text {
 
  position:absolute ;
  top: 60%;
  left: 16%;
  font-family: Arial;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  