
.logo-container {
    background: #ffffff
  }
  
  
  .logo-container svg {
    font-family: 'Russo One', Heather Thomas-light;
    width: 100%; height: 100%;
    position: absolute;
    top: -5%;
   
  }
  .logo-container svg text {
    text-transform: uppercase;
    animation: stroke 5s alternate;
    stroke-width: 2;
    stroke: #0cdfff;
    font-size: 240px;
  }
   @keyframes stroke {
    0%   {
      fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0);
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0); }
    80%  {fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0); stroke-width: 3; }
    100% {
      fill: rgb(0, 0, 0); stroke: rgba(54,95,160,0); 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
  }
  .geeks {
    background: #ffffff;
    position:absolute ;
    top: 60%;
    left: 16%;
    font-family:  sans-serif;
    border-bottom: 5px solid rgb(0, 0, 0);
    overflow: auto;
    animation: animate 3s linear forwards;
}

.geeks .h1 {
    color: rgb(0, 0, 0);
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 150px;
        height: 0px;
    }
    60% {
        width: 150px;
        height: 150px;
    }
    60% {
      width: 260px;
      height: 140px;
  }
}
  